/* styles for Campus Life Super App */
body {
  font-family: sans-serif;
  background-color: #f4f6f83e;
  color: #212529;
}

header {
  background-color: #003366;
  color: #ffffff;
  padding: 20px 0;
  text-align: center;
}


h1, h2, h3 {
  color: #004080;
  font-weight: 600;
}


p {
  font-size: 1.1rem;
  color: #333;
}


/* link styling */
a.fw-semibold {
  color: #004080;
  transition: color 0.2s ease;
}

a.fw-semibold:hover {
  color: #0073e6;
  text-decoration: underline;
}


/* styling for API Button */
.btn-primary {
  background-color: #003366;
  border: none;
  padding: 10px 20px;
  font-weight: 500;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #003366;
}

/* container styling */
.container {
  background-color: #ffffff;
  padding: 40px;
}

/* responsive design */
@media (max-width: 768px) {
  .container {
    padding: 20px;
  }

  h1 {
    font-size: 2rem;
  }

  #weather-btn {
    width: 100%;
  }
}


img.feature-img {
    width: 100%;
    height: 220px; /* adjust height as you like */
    object-fit: cover;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}